



<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 col-lg-4 col-sm-4"></div>
        <div class="col-md-4 col-lg-4 col-sm-4 mt-5">
            <p class="h2 text-center mt-5">Search For Your Book</p>
            <form #f="ngForm">
                <div class="input-group mt-5">
                    <input type="text" name="search" #e required [(ngModel)]="search" placeholder="Enter your search"  class="form-control">
                    <button class="btn btn-success" [disabled]="f.invalid" (click)="load()"><i class="fa fa-search"></i> </button>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4"></div>
    </div>
</div>

<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="loader"></div>
</div>
